<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Password</title>
  </head>
  <body>
    <p>Hi {{username}},</p>
    <h2>Forgot your password?</h2>
    <p>
      That's okay, it happens! Click on the button below to reset your password
    </p>
    <button>
      <a href="{{host}}api/auth/update_password/{{token}}">
        Reset my password</a
      >
    </button>
    <p>If you did not request a new password, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>
  </body>
</html>
